.top-row {
    background-color: #2a607c;
    font-size: larger;
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#search-engine-optimization {
    background-color: #0072bb;
}
#online-reputation-management {
    background-color: #0072bb;
}
#social-media-marketing {
    background-color: #0072bb;
}
.benefits {
    background-color: #0072bb;
    margin-right: 20px;
    padding: 20px
    clear: both;
    float: right;
    width: 20%;
    height: 100%;

}
